body{
	overflow-x: hidden;
}
/*==Css for the navbar==*/
.navbar {
	background-color: #000;
}
.navbar a{
	color: white !important;
}
.navbar a:active{
	background-color: black !important;
}
.site_logo{
	font-family: Lucida Handwriting;
	padding-top: 20px;
	padding-left: 20px;
}
.nav_shopping_cart{
	font-size: 20px;
}
#count_of_items{
	position: absolute;
	font-size: 12px !important;
	background-color: #D00;
	top: 50%;
}
.dropdown-menu a{
	color: black !important;
}
/*==End of Css for the navbar==*/

/*==Setting the shopping area to hide by default==*/
#shopping_area {
	display: none;
}
/*==End of Setting the shopping area to hide by default==*/

/*== css for the form area  ==*/
.form_area{
	background-color: rgba(0, 147, 255, 0.07);
	height: 600px;
	width: 1336px;
}
.form_background {
	
}
.form_card{
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	height: 400px;
}
.site_name {
	font-family: Lucida Handwriting;
	padding-top: 20px;
	padding-left: 20px;
}
.form_field_area{
	padding-top: 100px;
}
label {
	text-transform: uppercase;
}
input {
	width: 35%;
    padding: 12px 20px;
    padding: 12px 20px;
    margin: 8px 3px;
    box-sizing: border-box;
}
.submit_button{
	width: 35%;
    padding: 12px 20px;
    margin: 8px 3px;
    box-sizing: border-box;
}
#form_feedback{
	font-family: tahoma !important;
	padding-top: 10px;
	color: #D00;
	font-size: 14px;
	float: right;
}
#form_section h3{
	text-align: left;
}

/*== End of css for the form area ==*/

/*==css for the shop area ==*/
body{
    background-color: #F8F8F8;
}
.row_for_wine{
	margin-bottom: 30px;
}
.card{
	background-color: white;
}
.contents{
	border: 1px solid lightgreen;
}
.name, .price, .description{
	margin-left: 20px;
	margin-top: 5px;
}
.create_basket{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
}
.item_price{
	color: #D00;
	text-decoration-style: line-through;
}
.item_price .amount{

}
.calc_amount{
	color: #D00;
}
#shopping_area h2,h3, h6, h5{
	text-align: center;
}
.avrg_price{
	color: #0093ff;
}
.circle{
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 10px;

}
.inner_circle{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-left: 7px;
	margin-top: 7px;
}
.item_head:hover{
    background-color: #0093ff;
    color: white;
}
.item_head:hover .avrg_price{
    color: white;
}
.item_head:hover .circle .inner_circle{
	background-color: #0093ff;
}
.item_name{
	margin-bottom: 30px;
	margin-top: -40px;
}
.item_name_wine{
	margin-bottom: 30px;
	margin-top: -40px;
}
.total_head{
	margin-bottom: 30px;
}
.total_section{

}
.wine, .biscuit_type, .button{
	display: none;
}
.fa-check-square, .fa-spinner{
	margin-left: 250px;
	margin-top: -20px;
}
.fa-ul{
	font-size: 50px;
}
#loading_text{

}
#done{
	display: none;
	color: green;
}
#done_text{
	display: none;
	margin-left: 220px;
	color: green;
}
#checkout{
	color: black;
}
#checkout_total{
	color: #D00;
}
.modal-content{
	background-color: lightblue;
}
.notification{
	background-color: lightgreen;
	display: none;
}
.total_check{
	font-size: 14px;
	color: black;
}
/*==End of css for the shop area==*/